[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

flask = "*"
markupsafe = "*"
werkzeug = "*"
jinja2 = "*"
itsdangerous = "*"
flask-sqlalchemy = "*"
psycopg2 = "*"
sqlalchemy = "*"
flask-migrate = "*"
gunicorn = "*"
flask-assets = "*"
cssmin = "*"
jsmin = "*"
flask-caching = "*"
flask-heroku = "*"

[requires]
python_version = "3.6"
