# Flask
Flask
MarkupSafe
Werkzeug
Jinja2
itsdangerous

# Database
Flask-SQLAlchemy
psycopg2
SQLAlchemy

# Migrations
Flask-Migrate

# Deployment
gunicorn

# Assets
Flask-Assets
cssmin
jsm

# Caching
Flask-Caching

# Debug toolbar
Flask-DebugToolbar
