<!DOCTYPE html>

<html lang="en">
<head>
  <title>Khoa Nguyen</title>

  <!-- Meta -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="description" content="Web CV">
  <meta name="author" content="Khoa Nguyen">
  <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="expires" content="-1">
  <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />

  <!-- Default CSS from Third Party Libraries
  ================================================== -->

</head>
<body>

  <!-- Content ================================================== -->
  <div id="content-wrapper">
    <!-- All content goes here for SPA (Single Page Application) -->

    <div id="preloader" class="n-preloader">
      <div class="loading"></div>
    </div>
  </div>

  <!-- JavaScript ================================================== -->
  <!-- The main starting point of the application. -->

</body>
</html>