/*
 * Lato
================================================================================ */
@font-face {
    font-family: 'lato-regular';
    src: url('fonts/lato/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lato-italic';
    src: url('fonts/lato/Lato-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lato-light';
    src: url('fonts/lato/Lato-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lato-light-italic';
    src: url('fonts/lato/Lato-LightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lato-bold';
    src: url('fonts/lato/Lato-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lato-bold-italic';
    src: url('fonts/lato/Lato-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lato-black';
    src: url('fonts/lato/Lato-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lato-black-italic';
    src: url('fonts/lato/Lato-BlackItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*
 * Libre Baskerville
================================================================================ */
@font-face {
    font-family: 'librebaskerville-italic';
    src: url('fonts/librebaskerville/librebaskerville-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'librebaskerville-regular';
    src: url('fonts/librebaskerville/librebaskerville-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}