<!-- About Section
================================================== -->
<section id="about" style="display: none">
  <div class="row">
    <div class="five columns">
      <img class="profile-pic" src=""/>
    </div>
    <div class="seven columns main-col">
      <h2>About Me</h2>
      <div class="profile-info">
        <%= model.about_html %>
      </div>
      <div class="row">
        <div class="columns download" style="display: none">
          <p>
            <a class="button"><i class="fa fa-download"></i>Download Resume</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>